<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
        <link href="@routes.Assets.at("css/screen.css")" rel="stylesheet">
    </head>
    <body>
        <div id="contacts"></div>
        <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/Underscore-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/Backbone-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
    </body>
</html>