@(changePasswordForm: Form[forms.EditPasswordForm])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("enquiry.password.reset.title"), Messages("enquiry.password.reset.title")) {

  <div class="row">
    <div class="span6">
      <h1>@Messages("enquiry.password.reset.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="span8">
        @* Display proprietary login form *@
        
    	<form action="@routes.UserController.updatePassword()" method="POST" class="form-horizontal">
		  <div class="control-group">
		    <label class="control-label" for="oldPassword">Old Password</label>
		    <div class="controls">
		      <input type="password" id="oldPassword" name="oldPassword">
			    @if(changePasswordForm.hasErrors && changePasswordForm.errors().get("oldPassword") != null) { 
	                <span class="error">
			            <span class="label label-important">@Messages(changePasswordForm.errors().get("oldPassword").get(0).message)</span>
			        </span>
	            }
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="password">New Password</label>
		    <div class="controls">
		      <input type="password" id="password" name="password" placeholder="Choose Password">
			    @if(changePasswordForm.hasErrors && changePasswordForm.errors().get("password") != null) { 
	                <span class="error">
			            <span class="label label-important">@Messages(changePasswordForm.errors().get("password").get(0).message)</span>
			        </span>
	            }
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="reEnterPassword">Re-Enter New Password</label>
		    <div class="controls">
		      <input type="password" id="reEnterPassword" name="reEnterPassword"placeholder="Re-Enter Password">
			    @if(changePasswordForm.hasErrors && changePasswordForm.errors().get("reEnterPassword") != null) { 
	                <span class="error">
			            <span class="label label-important">@Messages(changePasswordForm.errors().get("reEnterPassword").get(0).message)</span>
			        </span>
	            }
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <div class="controls">
		      <input type="submit" value="@Messages("enquiry.password.reset.title")" class="btn btn-primary">
		    </div>
		  </div>
    	</form>
    </div>

  </div>

}