@(enquiryForm: Form[forms.EnquiryForm], statusList:List[String], allCountryList:List[Countries], 
allServiceList:List[Services], enquiry: Enquiry, commentStrList: List[String], userList:List[User],
assigneeList:List[User], countryList:List[Countries], serviceList:List[Services])

@import helper._
@import helper.twitterBootstrap._
@import utils._

@main(Messages("enquiry.user.update_enquiry"),Messages("enquiry.user.update_enquiry")) {
    
  <div class="row">
    <div class="span6">
      <h1>@Messages("enquiry.user.update_enquiry")</h1>
    </div>
  </div>

  <div id="signup">

        @* Display proprietary login form *@
    	<form action="/user/updateEnquiry/@enquiry.id" method="POST" class="form-horizontal row">
	    
	    <div class="span6" style="border-right: solid 1px grey;">
		  <div class="control-group">
		    <label class="control-label" for="firstName">First Name</label>
		    <div class="controls">
		      <input type="text" id="firstName" name="firstName" value="@enquiry.firstName">
		      @if(enquiryForm.hasErrors && enquiryForm.errors().get("firstName") != null) { 
				    <span class="error">
			            <span class="label label-important">@Messages(enquiryForm.errors().get("firstName").get(0).message)</span>
			        </span>
	            }
		    </div>
            
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="lastName">Last Name</label>
		    <div class="controls">
		      <input type="text" id="lastName" name="lastName" value="@enquiry.lastName">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="email">Email</label>
		    <div class="controls">
		      <input type="text" id="email" name="email" value="@enquiry.email">
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="contactNumber">Phone</label>
		    <div class="controls">
		      <input type="text" id="contactNumber" name="contactNumber" value="@enquiry.contactNumber">
		    @if(enquiryForm.hasErrors && enquiryForm.errors().get("contactNumber") != null) { 
				    <span class="error">
			            <span class="label label-important">@Messages(enquiryForm.errors().get("contactNumber").get(0).message)</span>
			        </span>
	            }
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="followUp">Follow up on</label>
		    <div id="datetimepicker" class="input-append" style="margin-left: 20px;">
		      <input id="followUp" name="followUp" data-format="MM/dd/yyyy HH:mm:ss PP" type="text" value="@DateUtils.getDateFormattedFormStr(enquiry.followUp)" style="width: 180px;"></input>
		      <span class="add-on">
      			<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    		  </span>
    		   @if(enquiryForm.hasErrors && enquiryForm.errors().get("followUp") != null) { 
				    <span class="error">
			            <span class="label label-important">@Messages(enquiryForm.errors().get("followUp").get(0).message)</span>
			        </span>
	        	}
		    </div>
		  <script type="text/javascript">
			  $(function() {
			    $('#datetimepicker').datetimepicker({
			      language: 'en',
			      pick12HourFormat: true
			    });
			  });
		 </script>
		 </div>
		  		  
		  <div class="control-group">
		    <label class="control-label" for="address">Address</label>
		    <div class="controls">
		    <textarea name="address" rows="3" cols="20">@enquiry.address</textarea>
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="courseType">Services</label>
		    <div class="controls">
		      <select id="service" name="service">
					<option class="blank" value="">--- Select Service ---</option>
					@for(service <- allServiceList) {
						@if(serviceList.size()>0 && serviceList(0).id == service.id) {
							<option value="@service.id" selected="selected">@service.name</option>
						} else {
							<option value="@service.id">@service.name</option>
						} 
					}
			  </select>
		    </div>
		    
		    <div class="controls">
		      <select id="service1" name="service1">
					<option class="blank" value="">--- Select Service ---</option>
					@for(service <- allServiceList) {
						@if(serviceList.size()>1 && serviceList(1).id == service.id) {
							<option value="@service.id" selected="selected">@service.name</option>
						} else {
							<option value="@service.id">@service.name</option>
						} 
					}
			  </select>
		    </div>
		    
		    <div class="controls">
		      <select id="service2" name="service2">
					<option class="blank" value="">--- Select Service ---</option>
					@for(service <- allServiceList) {
						@if(serviceList.size()>2 && serviceList(2).id == service.id) {
							<option value="@service.id" selected="selected">@service.name</option>
						} else {
							<option value="@service.id">@service.name</option>
						} 
					}
			  </select>
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="countryInterested">Country Interested</label>
		    <div class="controls">
		      <select id="countryInterested" name="countryInterested">
					<option class="blank" value="">--- Select Country ---</option>
					@for(country <- allCountryList) {
						@if(countryList.size()>0 && countryList(0).id == country.id) {
							<option value="@country.id" selected="selected">@country.name</option> 
						} else {
							<option value="@country.id">@country.name</option>
						}
					}
			  </select>
		    </div>
		    
		    <div class="controls">
		      <select id="countryInterested1" name="countryInterested1">
					<option class="blank" value="">--- Select Country ---</option>
					@for(country <- allCountryList) {
						@if(countryList.size()>1 && countryList(1).id == country.id) {
							<option value="@country.id" selected="selected">@country.name</option> 
						} else {
							<option value="@country.id">@country.name</option>
						}
					}
			  </select>
		    </div>
		    
		    <div class="controls">
		      <select id="countryInterested2" name="countryInterested2">
					<option class="blank" value="">--- Select Country ---</option>
					@for(country <- allCountryList) {
						@if(countryList.size()>2 && countryList(2).id == country.id) {
							<option value="@country.id" selected="selected">@country.name</option> 
						} else {
							<option value="@country.id">@country.name</option>
						}
					}
			  </select>
		    </div>
		  </div>
		  
		  <!-- X<div class="control-group">
		    <label class="control-label" for="followUp">Follow up on</label>
		    <div class="controls">
		      <input type="date" id="followUp" name="followUp" value="@DateUtils.getDateFormattedFormStr(enquiry.followUp)">
		    @if(enquiryForm.hasErrors && enquiryForm.errors().get("followUp") != null) { 
				    <span class="error">
			            <span class="label label-important">@Messages(enquiryForm.errors().get("followUp").get(0).message)</span>
			        </span>
	        }
		    </div>
		  </div>
		  -->
			  
			  
		  <div class="control-group">
		    <label class="control-label" for="highSchoolScore">X Score</label>
		    <div class="controls">
		      <input type="text" id="highSchoolScore" name="highSchoolScore" value="@enquiry.highSchoolScore">
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="seniorSecondaryScore">XII Score</label>
		    <div class="controls">
		      <input type="text" id="seniorSecondaryScore" name="seniorSecondaryScore" value="@enquiry.seniorSecondaryScore">
		    </div>
		  </div>
		  
		  
		   <div class="control-group">
		    <label class="control-label" for="graduationScore">Graduation Score</label>
		    <div class="controls">
		      <input type="text" id="graduationScore" name="graduationScore" value="@enquiry.graduationScore">
		    </div>
		  </div>
		  
		   <div class="control-group">
		    <label class="control-label" for="testScores">Test Scores</label>
		    <div class="controls">
		      <input type="text" id="testScores" name="testScores" value="@enquiry.testScores">
		    </div>
		  </div>
		  
		   <div class="control-group">
		    <label class="control-label" for="program">Program</label>
		    <div class="controls">
		      <input type="text" id="program" name="program" value="@enquiry.program">
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="intake">Intake</label>
		    <div class="controls">
		      <input type="text" id="intake" name="intake" value="@enquiry.intake">
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="source">Source</label>
		    <div class="controls">
		      <input type="text" id="source" name="source" value="@enquiry.source">
		    </div>
		  </div>
			  
		  </div>
		  
		  
		  
		  <div class="span5">		  

			  <div class="control-group">
			    <label class="control-label" for="status">Status</label>
			    <div class="controls">
				  <select id="status" name="status">
				  <option class="blank" value="">--- Select Status ---</option>
					@for(status <- statusList) {
						@if(enquiry.status == status) {
						<option value="@status" selected="selected">@status</option>
						} else {
						<option value="@status">@status</option>
						} 
					}
				  </select>
			    </div>
			  </div>
			  
			  <div class="control-group">
			    <label class="control-label" for="assignedTo">Assign To</label>
			    <div class="controls">
				  <select id="assignedTo" name="assignedTo">
					<option value="@Application.getLocalUser().id">Me</option>
					<option class="blank" value="">--- Assign To ---</option>
					@for(user <- userList) {
						@if(assigneeList.get(0).id == user.id) {
							<option value="@user.id" selected="selected">@user.getFullName()</option>
						} else {
							<option value="@user.id">@user.getFullName()</option>
						} 
					}
				  </select>
			    </div>
			    <div class="controls">
				  <select id="assignedTo1" name="assignedTo1">
					<option class="blank" value="">--- Assign To ---</option>
					@for(user <- userList) {
						@if(assigneeList.size() > 1 &&	assigneeList.get(1).id == user.id) {
							<option value="@user.id" selected="selected">@user.getFullName()</option>
						} else {
							<option value="@user.id">@user.getFullName()</option>
						} 
					}
				  </select>
			    </div> 
			    
			    <div class="controls">
				  <select id="assignedTo2" name="assignedTo2">
					<option class="blank" value="">--- Assign To ---</option>
					@for(user <- userList) {
							@if(assigneeList.size() > 2 && assigneeList.get(2).id == user.id) {
								<option value="@user.id" selected="selected">@user.getFullName()</option>
							} else {
								<option value="@user.id">@user.getFullName()</option>
							} 
					}
				  </select>
			    </div> 
			  </div> 
			  
		  
		  
		  <div class="control-group">
			    <label class="control-label" for="remarks">Remarks</label>
			    <div class="controls">
			    <textarea name="remarks" rows="6" cols="20">@enquiry.remarks</textarea>
			    </div>
		  </div>
			  
		  <div class="control-group">
		    <label class="control-label" for="comments">Comments</label>
		    <div class="controls">
		    <textarea name="comments" rows="6" cols="20" placeholder="Add a comment..."></textarea>
		    </div>
		  </div>

		<!-- Submit -->			  
		  <div class="control-group">
		    <div class="controls">
		      <input type="submit" value="@Messages("enquiry.user.update_enquiry")" class="btn btn-primary">
		    </div>
		  </div>
		  
		<!-- History -->  
		  <div class="control-group">
		  <legend>History</legend>
		    <div>
		    	@for(commentStr <- commentStrList) {
		    	<p>@Html(commentStr)</p>
		    	}
		    </div>
		  </div>
		  
		  <input type="hidden" name="creatorId" value="@Application.getLocalUser().id">			
		  
	    </div>
    	</form>

  </div>
}
